.choice-container {
    display: flex;
    margin-bottom: 8px;
    width: 100%;
    border-radius: 4px;
    background: #F6EB61;
    font-size: 30px;
    min-width: 800px;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 20px 25px;
    color: white;
}

.choice-text {
    padding: 20px;
    width: 100%;
}

.correct {
    background: #C8102E;
}

.incorrect {
    background: #00B2A9;
}

/* Heads up display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 20px;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 200px;
    height: 30px;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: #00B2A9;
    width: 0%;
}

/* Media queries */
@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 400px;
    }
}